<table>
	<thead>
		<tr>
			<th>User ID</th>
			<th>Purchaser</th>
			<th>Date</th>
			<th>Amount</th>
			<th>Admin</th>
		</tr>
	</thead>
	<tbody>
		{{#orders}}<tr>
			<td>{{id}}</td>
			<td>
				{{#user_id}}<a href="{{#routes}}{{user}}{{/routes}}?id={{user_id}}">{{user_id}}</a>{{/user_id}}
				{{^user_id}}{{#contact_id}}<a href="{{#routes}}{{contact}}{{/routes}}?id={{contact_id}}">{{contact_id}}</a>{{/contact_id}}{{/user_id}}
			</td>
			<td>{{date_created}}</td>
			<td>{{amount}}</td>
			<td>
				
			</td>
		</tr>{{/orders}}
	</tbody>
</table>